---
// 1. ESPACIO DE INGENIERÍA (Backend de Astro) Solo se ejecuta en el servidor.
// Importamos nuestro JSON directamente.  
// lo convierte automáticamente en un array de objetos TypeScript.
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projectsData from '../data/projects.json';
import AboutMe from '../components/AboutMe.astro';
import SocialLinks from '../components/SocialLinks.astro';

const name = "Germán";
const role = "Software Engineer Student & Backend Developer";
const sub = "Técnico Superior en DAM y estudiante de Ingeniería Informática. Especializado en el ecosistema Java / Spring Boot.";
---

<!-- 2. ESPACIO DE VISTA (HTML + CSS) Importado -->
<BaseLayout title={`Portfolio - ${name}`}>
  
  <header>
    <h1>Hola, soy {name} 👋</h1>
    <h2>{role}</h2>
    <p>{sub}</p>
    <SocialLinks>
      
    </SocialLinks>

  </header>

  <main>
    <AboutMe>
      {AboutMe}
    </AboutMe>

    <h3>Proyectos Destacados</h3>
    
    {projectsData.map((project) => (
      <ProjectCard 
        title={project.title}
        type={project.type}
        description={project.description}
        stack={project.stack}
        year = {project.year}
      />
    ))}
  </main>

</BaseLayout>